#thefile {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

#content {
  width: 100%;
  height: 100%;
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}
